/*Variables*/

:root {
  --color-basic-white: #FFFFFF;
  --color-basic-dark: #323232;

  --color-background-brown: #9D8B84;
}


/*Global styles*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: auto;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-basic-dark);
  background-color: var(--color-background-brown);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input.visually-hidden:checked,
input.visually-hidden:focus,
input.visually-hidden:active {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/*Header*/
.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 9px 0;
}

.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 50%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-width: 357px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__link {
  color: var(--color-basic-white);
  text-decoration: none;
}
